
body {
	margin: 0;

	._header {
		background-color: #FD9E0C;
		height: 32px;
		padding: 9px;

		a.sprites-logo {
			@include button();
			width: 68px;
		}

		a.button {
			@include button();
			background-color: #FFF;
			margin-left: 1em;
			float: right;
		}

		.loginBox {
			display: none;
			background-color: #FFF;
			position: absolute;
			right: 0;
			top: 52;
			border: #FD9E0C solid medium;
			padding: 5px;
			text-align: right;

			input.login, input.pass {
				width: auto;
				height: auto;
				font-size: 12px;
				padding: 0.5em;
				border: none;
			}

			input[type='submit'] {
				background-color: #FD9E0C;
				border: none;
				cursor: pointer;
				width: 50px;
				padding: 0.5em;
				font-size: 12px;
			}

		}
	}

}