div._content {
	padding-top: 50px;

	div.pannel {
		background-color: white;
		width: 100%;
		position: fixed;
		z-index: 3;


		a.button {
			@include button();
			float: left;
			margin: 0 9px;
		}

		a.icons-menu {
			display: none;
		}

		form[name='busca'] {
			position: relative;
			margin-right: 50px;
			@include form();

			input {
				width: 100%;
			}
		}

	}


	#backblock {
		background-color: #000000;
		position: fixed;
		height: 0;
		width: 100%;
		opacity: 0;
		padding-top: 50px;
		transition: opacity 0.2s;
		-webkit-transition: opacity 0.2s ; /* Safari */
		z-index: 1;
	}

	div#central {
		position: relative;
		margin-left: 230px;
		margin-top: 33px;

		div.lista_produto {
			float: left;
			width: 43%;
			min-width: 285px;
			height: 159px;
			margin: 2em;

			.imagem {
				float: left;
				margin: 8px;
				height: 120px;

				img {
					height: 100%;
				}

			}
		}
	}

	div.menu {
		position: absolute;
		top: 85;
		left: 0;
		width: 230px;
		z-index: 2;

		div.menu_categoria, div.menu_categoria_primeira {
			background-image: url('https://mlocal.digimer.com.br:8443/themes/digimer/images2/menu_categoria_primeira.jpg');
			background-repeat: repeat-x;
		}

		div.menu_sub1, div.menu_sub2 {
			height: auto;
			margin-left: 0;

			a {
				height: auto;
				padding-top: 0;
				font-size: 14px;
				display: block;
				padding: 5px;
			}
		}
	}
}

@media all and (max-device-width: 880px) , (max-width: 880px) {

	div._content {

		div#central {
			div.lista_produto {
				float: none;
				width: 93%;
			}
		}
	}
}

@media all and (max-device-width: 800px) , (max-width: 800px) {
	div._content {

		div.pannel {
			a.icons-menu {
				display: inline-block;
			}

			form[name='busca'] {
				margin-left: 50px;
			}
		}

		#backblock.active {
			height: 100%;
			opacity: 0.6;
		}

		div#central {
			margin-left: 0;
		}

		div.menu {
			left: -230px;
			transition: left 0.2s ease-in-out;
    		-webkit-transition: left 0.2s ease-in-out; /* Safari */
		}

		div.menu.active {
			left: 0;
		}
	}
}