div.clearfix {
	clear: both;
}

div._content {
	padding-top: 50px;

	div.pannel {
		@include metalBar();
		width: 100%;
		position: fixed;
		z-index: 3;


		a.button {
			@include button();
			float: left;
			margin: 0 9px;
			border: none;
		}

		a.icons-menu {
			display: none;
		}

		form[name='busca'] {
			position: relative;
			@include form();

			div.boxBusca {
				position: relative;
				margin-right: 50px;
				input {
					width: 100%;
				}
			}
			input.button.icons-search {
				width: 32px;
				@include button();
				float: right;
				border: none;
				margin: 0 9px;
			}
		}

	}


	#backblock {
		background-color: #000000;
		position: fixed;
		height: 0;
		width: 100%;
		opacity: 0;
		padding-top: 50px;
		transition: opacity 0.2s;
		-webkit-transition: opacity 0.2s ; /* Safari */
		z-index: 1;
	}

	div#central {
		position: relative;
		margin-left: 230px;
		margin-top: 45px;

		div#destaques {
			margin: 1em;
			padding: 0.5em;
			border-radius: 10px;
			box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.6);

			h1 {
				margin: 0;
				margin-bottom: 0.5em;
				padding-bottom: 0.3em;
				border-bottom: #004467 thin solid;
				font-size: 1.5em;
				color: #004467;
			}

			span {

				div.product_description {
					position: relative;
					margin-right: 120px;
				}

				div.product_image {
					float: right;
					width: 120px;	
				}

			}

			div.controles {
				margin: 0 auto;
				width: 221px;
			}

		}

		div.lista_produto {
			float: left;
			width: 50%;
			height: 230px;
			padding: 2em;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;

			.imagem {
				float: left;
				margin: 8px;
				height: 120px;

				img {
					height: 100%;
				}

			}
		}
	}

	div.menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 230px;
		z-index: 2;

		div.menu_categoria_primeira {
			margin-top: 83px
		}

		div.menu_categoria, div.menu_categoria_primeira {
			background-image: url('https://mlocal.digimer.com.br:8443/themes/digimer/images2/menu_categoria_primeira.jpg');
			background-repeat: repeat-x;
		}

		div.menu_sub1, div.menu_sub2 {
			height: auto;
			margin-left: 0;

			a {
				height: auto;
				padding-top: 0;
				font-size: 14px;
				display: block;
				padding: 5px;
			}
		}
	}

	div.menu::-webkit-scrollbar { 
	    display: none; 
	}
}

@media all and (max-width: 970px) {

	div._content {

		div#central {
			div.lista_produto {
				float: none;
				clear: both;
				width: 100%;
				height: auto;
				padding: 1em 2em;

				div.border {
					clear: both;
					border-bottom: #FFA500 solid;
					height: 2em;
				}

			}
		}
	}
}

@media screen and (max-width: 801px) {
	div._content {

		div.pannel {
			a.icons-menu {
				display: inline-block;
			}

			form[name='busca'] {
				margin-left: 50px;
			}
		}

		#backblock.active {
			height: 100%;
			opacity: 0.6;
		}

		div#central {
			margin-left: 0;
		}

		div.menu {
			position: fixed;
			left: -230px;
			transition: left 0.2s ease-in-out;
    		-webkit-transition: left 0.2s ease-in-out; /* Safari */
			height: 100%;
			overflow: auto;
		}

		div.menu.active {
			left: 0;
		}
	}
}